*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Noto Serif", serif; */
}
body{
    transition: 0.5s;
}
#colorFlex{
    text-align: center;
    position: absolute;
    bottom: 40rem;
    font-size: 50px;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30rem;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
}
button{
    margin-top: 5px;
    font-size: 40px;
    display: block;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}